<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>总结Vue数据检测</title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="../../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <button @click="addAge">年龄+1岁</button> <br>
        <button @click="addSex">添加性别属性,默认值为男</button> <br>
        <button @click.once="addFriend">在列表首位添加一位朋友</button> <br>
        <button @click="changeName">修改第一个朋友的名字叫张三</button> <br>
        <button @click="addHobby">添加一个爱好</button> <br>
        <button @click="changeHobby">修改第一个爱好为开车</button> <br>

        <h1>学生信息</h1>
        <h3>姓名: {{student.name}}</h3>
        <h3>年龄: {{student.age}}</h3>
        <h3 v-if="student.sex">性别: {{student.sex}}</h3>
        <h3>爱好: </h3>
        <ul>
            <li v-for="(h, index) in student.hobby" :key="index">{{h}}</li>
        </ul>
        <h3>朋友: </h3>
        <ul>
            <li v-for="(f, index) in student.friends" ::key="index">{{f.name}} - {{f.age}}</li>
        </ul>
    </div>
</body>

<script type="text/javascript">
    var vm = new Vue({
        el: "#root",
        data() {
            return {
                student:{
                    name: 'Tom',
                    age: 18,
                    hobby:['抽烟', '喝酒', '烫头'],
                    friends:[
                        {name: 'jerry', age:35},
                        {name: 'tony', age:36}
                    ]
                }
            }
        },methods: {
            addAge(){
                this.student.age++;
            },
            addSex(){
                Vue.set(this.student, 'sex', '男');
            },
            addFriend(){
                // 在后面添加朋友
                this.student.friends.push({name: 'jack', age: 12})  
                // 在前面添加朋友
                this.student.friends.unshift({name: 'lyb', age: 22})
            },
            changeName(){
                this.student.friends[0].name = '张三';
            },
            addHobby(){
                this.student.hobby.push('打游戏');
            },
            changeHobby(){
                this.student.hobby.splice(0, 1, '开车')
            }
        },
    })
</script>

</html>